.training__apps {
  margin-top: auto;
  display: flex;
  gap: 30px;
  font-size: 18px;
  line-height: 1.55;
  font-weight: 600;
}

@media screen and (max-width: 850px) {
  .training__apps {
    font-size: 14px;
    line-height: 1.43;
  }
}
