.bikes__surface-types {
  display: flex;
  gap: 40px;
  align-items: flex-end;
  margin-bottom: 55px;
  grid-area: tabs;
  align-self: end;
  justify-self: end;
}

@media screen and (max-width: 850px) {
  .bikes__surface-types {
    margin-bottom: 45px;
    display: none;
  }
}
