@import url(./__title/surface__title.css);
@import url(./__text/surface__text.css);
@import url(./__gallery/surface__gallery.css);
@import url(./__image/surface__image.css);
@import url(./__type/surface__type.css);
@import url(./__type/_1/surface__type_1.css);
@import url(./__switcher-buttons/surface__switcher-buttons.css);
@import url(./__button/surface__button.css);
@import url(./__button/_theme/surface__button_theme_dark.css);
@import url(./__button/_right/surface__button_right.css);

.surface {
  padding: 60px 120px;
  display: grid;
}

@media screen and (max-width: 1279px) {
  .surface {
    padding-inline: 60px;
  }
}

@media screen and (max-width: 850px) {
  .surface {
    padding-inline: 30px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
}

@media screen and (max-width: 500px) {
  .surface {
    padding: 40px 18px;
    margin-top: 40px;
    position: relative;
    grid-template-rows: repeat(3, auto);
  }

  .surface::before {
    position: absolute;
    content: '';
    top: 0;
    left: 18px;
    width: calc(100% - 36px);
    height: 1px;
    background-color: #e3e3e3;
  }

}
