.hero__title {
  padding-top: 60px;
  grid-row: 1/2;
  grid-column: 1/2;
}

@media screen and (max-width: 850px) {
  .hero__title {
    padding-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  .hero__title {
    padding-top: 0;
    grid-row: 1/2;
  }
}
