.hero__sticky {
  background-color: hsl(0, 0%, 96%);
  box-shadow: -20px 60px 220px hsla(0, 0%, 0%, 0.44);
  border-radius: 20px;
  position: sticky;
  top: 347px;
  margin: 0 0 79px -200px;
  max-width: 340px;
  height: 260px;
  padding: 20px 50px;
  background-image: url(../../../images/bike-fix.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
