@import url(./__checkbox/theme-switcher__checkbox.css);
@import url(./__icon/_theme/theme-switcher__icon_theme_dark.css);

.theme-switcher {
	--switcher-icons: hsl(0, 0%, 81%);
	display: flex;
	align-items: center;
	gap: 22px;
}

@media screen and (max-width: 500px) {

	.theme-switcher {
		position: fixed;
		z-index: 3;
		bottom: 35px;
		right: calc(50vw - 76.5px);
		transition: translate var(--animation-timing);
		translate: 222%;
	}

	.theme-switcher[data-open="true"] {
		translate: 0;
	}
}
