@import url(./__hamburger/header__hamburger.css);
@import url(./__navigation/header__navigation.css);
@import url(./__nav-links/header__nav-links.css);
@import url(./__link/header__link.css);

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background-color: var(--clr-background-primary);
  z-index: 2;
}
