.header__navigation {
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0 auto;
  padding: 28px 120px;
}

@media screen and (max-width: 1279px) {
  .header__navigation {
    padding-inline: 60px;
  }
}

@media screen and (max-width: 850px) {
  .header__navigation {
    padding-inline: 30px;
  }
}

@media screen and (max-width: 500px) {
  .header__navigation {
    padding: 28px 18px 46px;
  }
}
