.section-text {
  max-width: 460px;
  margin: 0;
  font-size: 18px;
  line-height: 1.55;
  color: var(--clr-text-secondary);
}

@media screen and (max-width: 1080px) {
  .section-text {}
}

@media screen and (max-width: 850px) {
  .section-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  .section-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .section-text {
    font-size: 12px;
    margin-block: 40px;
  }
}
