@import url(./__title/bikes__title.css);
@import url(./__surface-types/bikes__surface-types.css);
@import url(./__type/bikes__type.css);
@import url(./__dropdown/bikes__dropdown.css);
@import url(./__gallery/bikes__gallery.css);
@import url(./__category/bikes__category.css);
@import url(./__model/bikes__model.css);
@import url(./__link/bikes__link.css);
@import url(./__image/bikes__image.css);
@import url(./__name/bikes__name.css);
@import url(./__dots/bikes__dots.css);

.bikes {
  padding: 60px 120px;
  display: grid;
  grid-template-areas:
    "title tabs"
    "gallery gallery";
}


@media screen and (max-width: 1279px) {
  .bikes {
    padding-inline: 60px;
  }
}

@media screen and (max-width: 850px) {
  .bikes {
    padding-inline: 30px;
    grid-template-areas:
      "title"
      "dropdown"
      "gallery";
  }
}

@media screen and (max-width: 500px) {
  .bikes {
    padding: 40px 18px;
    margin-top: 40px;
    position: relative;
  }

  .bikes::before {
    position: absolute;
    content: '';
    top: 0;
    left: 18px;
    width: calc(100% - 36px);
    height: 1px;
    background-color: #e3e3e3;
  }
}
