.footer__wrapper {
	margin: 0 auto;
	max-width: 1200px;
	padding: 80px 120px 60px;
	background-color: var(--clr-background-secondary);
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
}

@media screen and (max-width: 1279px) {
	.footer__wrapper {
		padding-inline: 60px;
	}
}

@media screen and (max-width: 850px) {
	.footer__wrapper {
		padding-inline: 30px;
	}
}

@media screen and (max-width: 500px) {
	.footer__wrapper {
		padding: 60px 18px 25px;
	}
}
