.surface__type {
  position: absolute;
  left: 0;
  bottom: 16px;
  width: 100px;
  height: 40px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1080px) {
  .surface__type {
    width: 70px;
  }
}
