.surface__type {
  position: absolute;
  left: 0;
  bottom: 16px;
  width: 98px;
  aspect-ratio: 98/40;
  background-image: url(../../../../images/surface-type-sprite.svg);
  background-size: cover;
}


[data-decor-type="1"] {
  background-position: 0 0;
}

[data-decor-type="2"] {
  background-position: 0 50%;
}

[data-decor-type="3"] {
  background-position: 0 100%;
}

@media screen and (max-width: 1080px) {
  .surface__type {
    width: 70px;
  }
}
