.bikes__top {
  margin-bottom: 70px;
}

@media screen and (max-width: 850px) {
  .bikes__top {
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 700px) {
  .bikes__top {
    flex-direction: column;
  }
}
