.hamburger-menu {
	--foreground: var(--clr-text-primary);
	--background: var(--clr-text-primary);

	--x-width: calc(var(--hamburger-height) * 1.41421356237);

	display: flex;
	flex-direction: column;
	gap: var(--hamburger-gap);
	width: max-content;
	position: absolute;
	top: var(--hamburger-margin + 10px);
	right: var(--hamburger-margin);
	z-index: 2;
	cursor: pointer;
}

.hamburger-menu:has(input:checked) {
	--foreground: var(--clr-text-secondary);
	--background: var(--clr-text-secondary);
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
	border: 1px solid var(--background);
	box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
	content: "";
	width: var(--bar-width);
	height: var(--bar-height);
	background-color: var(--foreground);
	transform-origin: left center;
	transition: opacity var(--animation-timing), width var(--animation-timing),
		rotate var(--animation-timing), translate var(--animation-timing),
		background-color var(--animation-timing);
}

.hamburger-menu input {
	appearance: none;
	padding: 0;
	margin: 0;
	outline: none;
	pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
	rotate: 45deg;
	width: var(--x-width);
	translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
	rotate: -45deg;
	width: var(--x-width);
	translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
	opacity: 0;
	width: 0;
}

@media screen and (max-width: 500px) {
	.hamburger-menu {
		display: flex;
	}

	.hamburger-menu:has(input:checked)+.header__nav-links {
		translate: 0;
	}
}
