.bikes__link {
  display: block;
  background-color: hsl(0, 0%, 96%);
  box-shadow: -20px 60px 220px hsla(0, 0%, 0%, 0.44);
  border-radius: 20px;
  padding: 20px;
}


@media screen and (max-width: 700px) {
  .bikes__link {
    padding: 0;
    box-shadow: none;
  }
}
