.bikes__type {
  font-size: 18px;
  line-height: 1.55;
  color: var(--clr-text-secondary);
  letter-spacing: 1px;
  opacity: .5;
  transition: all .5s;
}

.bikes__type:hover {
  cursor: pointer;
  opacity: .5;
}
