@import url(./__apps/training__apps.css);
@import url(./__image/training__image.css);

.training {
  padding: 150px 120px 120px;
  display: grid;
  column-gap: 50px;
  grid-template-columns: minmax(170px, 570px) minmax(180px, 580px);
  grid-template-rows: auto 1fr auto;
}

@media screen and (max-width: 1279px) {
  .training {
    padding-inline: 60px;
    column-gap: 40px;
  }
}

@media screen and (max-width: 1080px) {
  .training {
    padding-block: 80px 60px;
  }
}

@media screen and (max-width: 850px) {
  .training {
    padding-inline: 30px;
    column-gap: 20px;
  }
}

@media screen and (max-width: 500px) {
  .training {
    padding: 40px 18px 60px;
    margin-top: 40px;
    position: relative;
    grid-template-columns: minmax(284px, 1fr);
    grid-template-rows: auto;
    gap: 0;
  }

  .training::before {
    position: absolute;
    content: '';
    top: 0;
    left: 18px;
    width: calc(100% - 36px);
    height: 1px;
    background-color: #e3e3e3;
  }

}
