.header__nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 34px;
}

@media screen and (max-width: 850px) {
  .header__nav-links {
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (max-width: 500px) {
  .header__nav-links {
    display: none;
  }
}
