.header__nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 34px;
  background-color: var(--clr-background-primary);
}

@media screen and (max-width: 850px) {
  .header__nav-links {
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (max-width: 500px) {
  .header__nav-links {
    background-color: var(--clr-background-secondary);
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 32px;
    transition: translate var(--animation-timing);
    translate: 200%;
    margin-top: 70px;
    padding-top: 70px;
    width: 100vw;
    min-height: 100vh;
  }
}
