.footer {
  padding: 80px 120px 60px;
  background-color: var(--clr-background-secondary);
}

@media screen and (max-width: 1279px) {
  .footer {
    padding-inline: 60px;
  }
}

@media screen and (max-width: 850px) {
  .footer {
    padding-inline: 30px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 60px 18px 25px;
  }
}
