.bikes__name {
  margin: 22px 0 0 6px;
  font-size: 18px;
  line-height: 1.22;
  font-weight: 600;
}

@media screen and (max-width: 1080px) {
  .bikes__name {
    font-size: 14px;
  }
}

@media screen and (max-width: 700px) {
  .bikes__name {
    margin: 3px 0 16px;
    text-align: center;
    color: var(--clr-background-primary);
    line-height: 1.29;
  }
}
